<div class="container">
  <div class="jumbotron">
    <h1>GraphQL, NodeJs, Express, MongoDB, Angular (v6)</h1>      
  </div>
  <div class="col-md-12">
    <div class="row pb-5">
      <div class="col-md-6 float-left">
        <h3>Employee List</h3>
      </div>
      <div class="col-md-6 float-right">
        <!-- Create New User  -->
        <button type="button" class="btn btn-primary pull-right" (click)="openModal(template)">
        Add Employee  <span class="lnr lnr-plus-circle"></span>
        </button>

      </div>
    </div>

    <!-- Modal Template of New User Form -->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create New Employee</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">User Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="name">
          </div>
          <button type="button" class="btn btn-default" *ngIf="!user.id" (click)="createUser(name);">Create</button>
          <button type="button" class="btn btn-default" *ngIf="user.id" (click)="updateUser(name);">Update</button>
        </form>
      </div>
    </ng-template>

    <!-- List of All Users  -->
  
    <table class="table table-bordered table-striped table-hover">
      <thead >
        <tr>
          <th class="text-center table-primary">Emp Id</th>
          <th class="text-center">Emp First</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td class="table-info">{{ i+1 }}</td>
          <td class="table-warning">{{ user.name }}</td>
          <td  class="table-success">
            <!-- Show Edit User Form  -->
            <button class="btn btn-dark " (click)="showEditUserForm(user, template)">
              <span class="lnr lnr-pencil"></span>
            </button>
          </td>
           <td class="table-danger">
            <!-- Remove User  -->
            <button class="btn btn-danger" (click)="removeUser(user.id)">
              <span class="lnr lnr-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>